* {
    /* 不能反白 */
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -o-user-select: none;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    padding: 0;
    margin: 0;
}

main {

    .work-wrap {
        width: 1024px;
        height: 1024px;

        .capture-wrap {
            grid-area: 1 span;
            width: 1024px;
            height: 1024px;
            position: relative;

            /* layout + btn */
            .grid-wrap {
                width: 1024px;
                height: 1024px;
                overflow: hidden;
                display: grid;
                // grid-template-columns: repeat(4, 25%);
                // grid-template-rows: repeat(4, 25%);
                // border: 1px dashed rgba(0, 0, 0, 0.2);

                &:hover {
                    border: 1px dashed rgba(0, 0, 0, 0.2);
    
                    .image-wrap {
                        border: 1px dashed rgba(0, 0, 0, 0.2);
                    }
                }
        
                .image-wrap {
                    grid-area: 1 span;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    // border: 1px dashed rgba(0, 0, 0, 0.2);
    
                    img {
                        width: 100%;
                        height: 100%;
                        // object-fit: contain;

                        &[src="#"] {
                            display: none;
                        }
                    }
    
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);

                        .edit-btn {
                            display: block;
                        }
                    }
    
                    .edit-btn {
                        position: absolute;
                        z-index: 5;
                        left: 10px;
                        top: 15px;
                        display: none;
                    }
                }
            }

            .year-wrap {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 10;
                transform: translate(-50%, -50%);
                font-size: 35px;
                font-family: 'Vast Shadow';
            }
        }
    }

    .toolbox-wrap {
        padding: 30px;
        position: absolute;
        top: 3%;
        left: 1040px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

        .form-group {
            padding: 20px 0;

            label {
                display: block;
                margin-bottom: 15px;
            }
        }
    }
}

.output-wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;

    &.show {
        display: block;
        overflow-Y: scroll;
    }

    .colsed-btn {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        color: #FFF;
    }
}